#velcome{
    width: 90%;
    margin: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 36px;
        margin-bottom: 30px;
        text-align: center;
    }
}