header{
    height: 100px;
    width: 100%;
    background-color: #001529;
    display: flex !important;
    align-items: center;
    img{
        width: 80px;
    }
    #header-title{
        width: 100%;
            h1{
                text-align: center;
                color: #dedede;
                margin-right: 80px;
                margin-bottom: 0;
            }
    }
}